body {
  background-color: pink;
  text-align: left;
  font-family: "Lato", sans-serif;
}
h2,
h3,
p {
  margin-left: 15px;
  margin-right: 15px;
}

h2 {
  font-family: "Poppins", sans-serif;
}

button {
  background-color: white;
  border: none;
  color: white;
  padding: 12px 14px;
  position: relative;
  left: 190px;
  bottom: 25px;
  margin: 5px;
  cursor: pointer;
}

.container {
  width: 350px;
  height: 520px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: auto;
  
}

.like {
  background-color: #f7859d;
  border-radius: 50%;
}

.add_cart {
  background-color: #00d1f6;
  border-radius: 50%;
}
