body {
  background-color: pink;
  text-align: left;
  font-family: "Lato", sans-serif;
}

h2 {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 350px;
  height: 520px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.button {
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}
